.d-flex {
    display: flex
}

.flex-wr {
    flex-wrap: wrap;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.hoverflow {
    overflow-x: hidden;
}

.flex-column {
    flex-direction: column;
}

.flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.bold {
    font-weight: 700;
}